<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Nopackage" >
        <classes>
            <class name="com.solvd.carina.demo.shop24.AuthenticationTest" />
            <class name="com.solvd.carina.demo.shop24.SearchProductsTest" />
            <class name="com.solvd.carina.demo.shop24.BasketTest" />
        </classes>
    </test>
</suite>
